<p>User: {{user}}</p>
<p>Created: {{lista.Date}}</p>
<span *ngIf = "lista.Email =='marc.cortadellas@estudiantat.upc.edu'">
    <mat-form-field appearance="outline">
        <mat-label> Text </mat-label>
        <textarea matInput [(ngModel)]="lista.About" name="content"></textarea>
      </mat-form-field>
    
</span>
<span *ngIf = "lista.Email !='marc.cortadellas@estudiantat.upc.edu'">
    <mat-form-field appearance="outline">
        <mat-label> Text </mat-label>
        <textarea matInput [(ngModel)]="lista.About" name="content"></textarea>
      </mat-form-field>
    
</span>



<br />
<span *ngIf="lista.Email=='marc.cortadellas@estudiantat.upc.edu'">
    <button class="button-create" (click)="modificarAbout()">Modificar</button>
</span>
<br>
<p>Email: {{lista.Email}}</p>

<span *ngIf="usermail=='marc.cortadellas@estudiantat.upc.edu'">
    
<p>Token: {{apikey}}</p>
</span>
<button mat-button mat-menu-item [routerLink]="['/submissions/'+lista.Email]">Submissions</button>
<br>
<button mat-button mat-menu-item [routerLink]="['/comments/'+lista.Email]">Comments</button>
<br>
<br>

<span *ngIf="lista.Email=='marc.cortadellas@estudiantat.upc.edu'">
    <button  mat-raised-button mat-menu-item [routerLink]="['/myUpvotedContributions']">Upvoted Submissions</button>
    <button mat-raised-button mat-menu-item [routerLink]="['/myUpvotedComments']">Upvoted Comments</button>
</span>

