a {
    color: #000000;
}
a:link {
    color: #000000;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
    overflow: hidden;
}
td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}
html {

}
body {
    display: block;
    margin: 8px;
}
form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
.comhead {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 8pt;
    color: #828282;
}

.subtext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
}

.comhead a:link, .subtext a:visited {
    color: #828282;
}
.subtext a:link, .subtext a:visited {
    color: #828282;
}
element.style {
    border: 1px white solid;
}
img {
    width: 18px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    aspect-ratio: auto 18 / 18;
    height: 18px;
}