<div class="container">

    <table mat-table [dataSource]="lista" class="mat-elevation-z8 tabla-boton-init">

        <ng-container matColumnDef ="buttons">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            
            <td mat-cell *matCellDef="let element">
                <button class="button-create" *ngIf="!element.UpvotedByUser" mat-icon-button type="button" (click)="votar($event,element)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button class="button-create" *ngIf="element.UpvotedByUser" mat-icon-button type="button" (click)="desvotar($event,element)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button class="button-create" mat-icon-button type="button" (click)="muestraAuthor($event,element)">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.Title}} </td>
        </ng-container>

        <ng-container matColumnDef="upvotes">
            <th mat-header-cell *matHeaderCellDef> Nº Votes</th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.Upvotes}} </td>
        </ng-container>

        <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef> Nº Comments </th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.Comments}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef> Date Created </th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.DateCreated}} </td>
        </ng-container>
        
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.Author.UserId}} </td>
        </ng-container>
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element" align="left"> {{element.Author.UserId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="muestraSubmission(row)"></tr>

    </table>
</div>