@{
    ViewData["Title"] = "Home Page";
}

  <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tbody>
                                <tr>
   
                                    <td style="width:18px;padding-right:4px"><a href="http://localhost"><img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                                    
                                    <td style="line-height:12pt; height:10px;">
                                        <span class="pagetop">
                                            <b class="hnname"><a href="news">Hacker News</a></b>
                                            <!--
                                                <a href="newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>
                                            -->
                                            <a href="">new</a> | <a href="">past</a> | <a href="">comments</a> | <a href="">ask</a> | <a href="">show</a> | <a href="">jobs</a> | <a href="">submit</a>
  
                                        </span>
                                    </td>
                                    <td style="text-align:right;padding-right:4px;">
                                        <span class="pagetop">
                                            <a href="login?goto=news">login</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="pagespace" title="" style="height:10px"></tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                            <tbody>
                                <tr class="athing" id="26554539">
                                    <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554539" href="vote?id=26554539&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.bell-labs.com/institute/blog/plan-9-bell-labs-cyberspace/" class="storylink">Plan 9 from Bell Labs in Cyberspace</a><span class="sitebit comhead"> (<a href="from?site=bell-labs.com"><span class="sitestr">bell-labs.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554539">336 points</span> by <a href="user?id=__d" class="hnuser">__d</a> <span class="age"><a href="item?id=26554539">2 hours ago</a></span> <span id="unv_26554539"></span> | <a href="hide?id=26554539&amp;goto=news">hide</a> | <a href="item?id=26554539">55&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26555117">
                                    <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26555117" href="vote?id=26555117&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://blog.ycombinator.com/scaling-yc/" class="storylink">Scaling YC</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com"><span class="sitestr">ycombinator.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26555117">79 points</span> by <a href="user?id=todsacerdoti" class="hnuser">todsacerdoti</a> <span class="age"><a href="item?id=26555117">1 hour ago</a></span> <span id="unv_26555117"></span> | <a href="hide?id=26555117&amp;goto=news">hide</a> | <a href="item?id=26555117">34&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554504">
                                    <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554504" href="vote?id=26554504&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://about.gitlab.com/blog/2021/03/22/we-are-building-a-better-heroku/" class="storylink">We are building a better Heroku</a><span class="sitebit comhead"> (<a href="from?site=about.gitlab.com"><span class="sitestr">about.gitlab.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554504">122 points</span> by <a href="user?id=rement" class="hnuser">rement</a> <span class="age"><a href="item?id=26554504">2 hours ago</a></span> <span id="unv_26554504"></span> | <a href="hide?id=26554504&amp;goto=news">hide</a> | <a href="item?id=26554504">131&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26555153">
                                    <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26555153" href="vote?id=26555153&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://en.wikipedia.org/wiki/Letterlocking" class="storylink">Letterlocking</a><span class="sitebit comhead"> (<a href="from?site=wikipedia.org"><span class="sitestr">wikipedia.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26555153">61 points</span> by <a href="user?id=krisbolton" class="hnuser">krisbolton</a> <span class="age"><a href="item?id=26555153">1 hour ago</a></span> <span id="unv_26555153"></span> | <a href="hide?id=26555153&amp;goto=news">hide</a> | <a href="item?id=26555153">3&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26553235">
                                    <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26553235" href="vote?id=26553235&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.economist.com/science-and-technology/2021/03/18/small-cheap-spy-satellites-mean-theres-no-hiding-place" class="storylink">Small, cheap spy satellites mean there’s no hiding place</a><span class="sitebit comhead"> (<a href="from?site=economist.com"><span class="sitestr">economist.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26553235">209 points</span> by <a href="user?id=known" class="hnuser">known</a> <span class="age"><a href="item?id=26553235">5 hours ago</a></span> <span id="unv_26553235"></span> | <a href="hide?id=26553235&amp;goto=news">hide</a> | <a href="item?id=26553235">121&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26555873">
                                    <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26555873" href="vote?id=26555873&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://blog.chromium.org/2021/03/a-safer-default-for-navigation-https.html" class="storylink">Chrome’s address bar will use https:// by default</a><span class="sitebit comhead"> (<a href="from?site=chromium.org"><span class="sitestr">chromium.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26555873">35 points</span> by <a href="user?id=feross" class="hnuser">feross</a> <span class="age"><a href="item?id=26555873">53 minutes ago</a></span> <span id="unv_26555873"></span> | <a href="hide?id=26555873&amp;goto=news">hide</a> | <a href="item?id=26555873">19&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554065">
                                    <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554065" href="vote?id=26554065&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://arxiv.org/abs/2103.06159" class="storylink">Factoring 2048 RSA integers in 177 days with 13436 qubits and a multimode memory</a><span class="sitebit comhead"> (<a href="from?site=arxiv.org"><span class="sitestr">arxiv.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554065">141 points</span> by <a href="user?id=athul7744" class="hnuser">athul7744</a> <span class="age"><a href="item?id=26554065">3 hours ago</a></span> <span id="unv_26554065"></span> | <a href="hide?id=26554065&amp;goto=news">hide</a> | <a href="item?id=26554065">79&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26555150">
                                    <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26555150" href="vote?id=26555150&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.scottaaronson.com/blog/?p=3095" class="storylink">My survey article on P vs. NP (2017)</a><span class="sitebit comhead"> (<a href="from?site=scottaaronson.com"><span class="sitestr">scottaaronson.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26555150">48 points</span> by <a href="user?id=sebastialonso" class="hnuser">sebastialonso</a> <span class="age"><a href="item?id=26555150">1 hour ago</a></span> <span id="unv_26555150"></span> | <a href="hide?id=26555150&amp;goto=news">hide</a> | <a href="item?id=26555150">37&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26555585">
                                    <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26555585" href="vote?id=26555585&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="http://quantamagazine.org/mathematicians-inch-closer-to-matrix-multiplication-goal-20210323/" class="storylink">Matrix Multiplication Inches Closer to Mythic Goal</a><span class="sitebit comhead"> (<a href="from?site=quantamagazine.org"><span class="sitestr">quantamagazine.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26555585">29 points</span> by <a href="user?id=yboris" class="hnuser">yboris</a> <span class="age"><a href="item?id=26555585">55 minutes ago</a></span> <span id="unv_26555585"></span> | <a href="hide?id=26555585&amp;goto=news">hide</a> | <a href="item?id=26555585">24&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554476">
                                    <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554476" href="vote?id=26554476&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://nts.strzibny.name/rails-stimulus-live-preview/" class="storylink">Live previews with Rails and Stimulus 2</a><span class="sitebit comhead"> (<a href="from?site=strzibny.name"><span class="sitestr">strzibny.name</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554476">58 points</span> by <a href="user?id=nilsandrey" class="hnuser">nilsandrey</a> <span class="age"><a href="item?id=26554476">2 hours ago</a></span> <span id="unv_26554476"></span> | <a href="hide?id=26554476&amp;goto=news">hide</a> | <a href="item?id=26554476">15&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554451">
                                    <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554451" href="vote?id=26554451&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://github.com/wang0618/PyWebIO" class="storylink">Show HN: PyWebIO – Write interactive web app in script way</a><span class="sitebit comhead"> (<a href="from?site=github.com/wang0618"><span class="sitestr">github.com/wang0618</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554451">60 points</span> by <a href="user?id=Wang0618" class="hnuser">Wang0618</a> <span class="age"><a href="item?id=26554451">2 hours ago</a></span> <span id="unv_26554451"></span> | <a href="hide?id=26554451&amp;goto=news">hide</a> | <a href="item?id=26554451">14&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26551604">
                                    <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26551604" href="vote?id=26551604&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.openculture.com/2015/01/akira-kurosawas-list-of-his-100-favorite-movies.html" class="storylink">Akira Kurosawa’s List of His 100 Favorite Movies (2015)</a><span class="sitebit comhead"> (<a href="from?site=openculture.com"><span class="sitestr">openculture.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26551604">96 points</span> by <a href="user?id=lermontov" class="hnuser">lermontov</a> <span class="age"><a href="item?id=26551604">5 hours ago</a></span> <span id="unv_26551604"></span> | <a href="hide?id=26551604&amp;goto=news">hide</a> | <a href="item?id=26551604">40&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26552375">
                                    <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26552375" href="vote?id=26552375&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.bbc.co.uk/news/science-environment-56491033" class="storylink">Result from LHCb experiment challenges the Standard Model</a><span class="sitebit comhead"> (<a href="from?site=bbc.co.uk"><span class="sitestr">bbc.co.uk</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26552375">162 points</span> by <a href="user?id=Kaibeezy" class="hnuser">Kaibeezy</a> <span class="age"><a href="item?id=26552375">7 hours ago</a></span> <span id="unv_26552375"></span> | <a href="hide?id=26552375&amp;goto=news">hide</a> | <a href="item?id=26552375">127&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554007">
                                    <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
                                    <td></td>
                                    <td class="title"><a href="https://angel.co/company/bonsai/jobs/1264053-growth-product-manager" class="storylink" rel="nofollow">Bonsai (YC W16) Is Hiring a Growth PM (Remote Only)</a><span class="sitebit comhead"> (<a href="from?site=angel.co"><span class="sitestr">angel.co</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="age"><a href="item?id=26554007">3 hours ago</a></span> | <a href="hide?id=26554007&amp;goto=news">hide</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26537954">
                                    <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26537954" href="vote?id=26537954&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.pnas.org/content/pnas/118/10/e2024468118.full.pdf" class="storylink">Non–line-of-sight imaging over 1.43km [pdf]</a><span class="sitebit comhead"> (<a href="from?site=pnas.org"><span class="sitestr">pnas.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26537954">24 points</span> by <a href="user?id=walterbell" class="hnuser">walterbell</a> <span class="age"><a href="item?id=26537954">2 hours ago</a></span> <span id="unv_26537954"></span> | <a href="hide?id=26537954&amp;goto=news">hide</a> | <a href="item?id=26537954">1&nbsp;comment</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26537559">
                                    <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26537559" href="vote?id=26537559&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://github.com/oz/tz" class="storylink">Tz: A Time Zone Helper</a><span class="sitebit comhead"> (<a href="from?site=github.com/oz"><span class="sitestr">github.com/oz</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26537559">47 points</span> by <a href="user?id=polm23" class="hnuser">polm23</a> <span class="age"><a href="item?id=26537559">4 hours ago</a></span> <span id="unv_26537559"></span> | <a href="hide?id=26537559&amp;goto=news">hide</a> | <a href="item?id=26537559">12&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26551764">
                                    <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26551764" href="vote?id=26551764&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.hodinkee.com/articles/the-case-for-better-watch-typography" class="storylink" rel="nofollow">The Case For Better Watch Typography</a><span class="sitebit comhead"> (<a href="from?site=hodinkee.com"><span class="sitestr">hodinkee.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26551764">6 points</span> by <a href="user?id=well_i_never" class="hnuser">well_i_never</a> <span class="age"><a href="item?id=26551764">1 hour ago</a></span> <span id="unv_26551764"></span> | <a href="hide?id=26551764&amp;goto=news">hide</a> | <a href="item?id=26551764">discuss</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26552942">
                                    <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26552942" href="vote?id=26552942&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://journals.aps.org/pra/abstract/10.1103/PhysRevA.100.062107" class="storylink">Alternative interpretations of classical physics (2019)</a><span class="sitebit comhead"> (<a href="from?site=aps.org"><span class="sitestr">aps.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26552942">80 points</span> by <a href="user?id=JPLeRouzic" class="hnuser">JPLeRouzic</a> <span class="age"><a href="item?id=26552942">6 hours ago</a></span> <span id="unv_26552942"></span> | <a href="hide?id=26552942&amp;goto=news">hide</a> | <a href="item?id=26552942">23&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554316">
                                    <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554316" href="vote?id=26554316&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://tratt.net/laurie/blog/entries/automatic_video_editing.html" class="storylink">Automatic Video Editing</a><span class="sitebit comhead"> (<a href="from?site=tratt.net"><span class="sitestr">tratt.net</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554316">33 points</span> by <a href="user?id=todsacerdoti" class="hnuser">todsacerdoti</a> <span class="age"><a href="item?id=26554316">3 hours ago</a></span> <span id="unv_26554316"></span> | <a href="hide?id=26554316&amp;goto=news">hide</a> | <a href="item?id=26554316">6&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26537298">
                                    <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26537298" href="vote?id=26537298&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://mirrors.edge.kernel.org/pub/linux/kernel/people/paulmck/perfbook/perfbook.html" class="storylink">“Is Parallel Programming Hard, and, If So, What Can You Do About It?” v2 Is Out</a><span class="sitebit comhead"> (<a href="from?site=kernel.org"><span class="sitestr">kernel.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26537298">113 points</span> by <a href="user?id=vkaku" class="hnuser">vkaku</a> <span class="age"><a href="item?id=26537298">9 hours ago</a></span> <span id="unv_26537298"></span> | <a href="hide?id=26537298&amp;goto=news">hide</a> | <a href="item?id=26537298">21&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26554410">
                                    <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26554410" href="vote?id=26554410&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="http://bbc.com/news/health-56483445" class="storylink">The virus that causes the common cold can effectively boot the Covid virus out</a><span class="sitebit comhead"> (<a href="from?site=bbc.com"><span class="sitestr">bbc.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26554410">97 points</span> by <a href="user?id=discocrisco" class="hnuser">discocrisco</a> <span class="age"><a href="item?id=26554410">3 hours ago</a></span> <span id="unv_26554410"></span> | <a href="hide?id=26554410&amp;goto=news">hide</a> | <a href="item?id=26554410">100&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26537734">
                                    <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26537734" href="vote?id=26537734&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://compiler.org/reason-re-nfa/src/index.html" class="storylink">Show HN: Regular expression compilation visualized</a><span class="sitebit comhead"> (<a href="from?site=compiler.org"><span class="sitestr">compiler.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26537734">175 points</span> by <a href="user?id=JoelJacobson" class="hnuser">JoelJacobson</a> <span class="age"><a href="item?id=26537734">12 hours ago</a></span> <span id="unv_26537734"></span> | <a href="hide?id=26537734&amp;goto=news">hide</a> | <a href="item?id=26537734">26&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26551733">
                                    <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26551733" href="vote?id=26551733&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://hamidreza-s.github.io/erlang%20garbage%20collection%20memory%20layout%20soft%20realtime/2015/08/24/erlang-garbage-collection-details-and-why-it-matters.html" class="storylink">Erlang Garbage Collection Details and Why It Matters (2015)</a><span class="sitebit comhead"> (<a href="from?site=hamidreza-s.github.io"><span class="sitestr">hamidreza-s.github.io</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26551733">90 points</span> by <a href="user?id=jlturner" class="hnuser">jlturner</a> <span class="age"><a href="item?id=26551733">9 hours ago</a></span> <span id="unv_26551733"></span> | <a href="hide?id=26551733&amp;goto=news">hide</a> | <a href="item?id=26551733">12&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26551366">
                                    <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26551366" href="vote?id=26551366&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.thismusicvideodoesnotexist.com/" class="storylink">This Music Video Does Not Exist [video]</a><span class="sitebit comhead"> (<a href="from?site=thismusicvideodoesnotexist.com"><span class="sitestr">thismusicvideodoesnotexist.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26551366">212 points</span> by <a href="user?id=smthngwitty" class="hnuser">smthngwitty</a> <span class="age"><a href="item?id=26551366">10 hours ago</a></span> <span id="unv_26551366"></span> | <a href="hide?id=26551366&amp;goto=news">hide</a> | <a href="item?id=26551366">124&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26551472">
                                    <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26551472" href="vote?id=26551472&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.fcc.gov/document/fcc-reaches-out-collect-consumer-broadband-availability-experiences" class="storylink">FCC Reaches Out to Collect Consumer Broadband Availability Experiences</a><span class="sitebit comhead"> (<a href="from?site=fcc.gov"><span class="sitestr">fcc.gov</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26551472">92 points</span> by <a href="user?id=dredmorbius" class="hnuser">dredmorbius</a> <span class="age"><a href="item?id=26551472">10 hours ago</a></span> <span id="unv_26551472"></span> | <a href="hide?id=26551472&amp;goto=news">hide</a> | <a href="item?id=26551472">31&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26537967">
                                    <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26537967" href="vote?id=26537967&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.theguardian.com/books/2021/mar/22/douglas-adams-note-to-self-reveals-author-found-writing-torture" class="storylink">Douglas Adams' note to self reveals author found writing torture</a><span class="sitebit comhead"> (<a href="from?site=theguardian.com"><span class="sitestr">theguardian.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26537967">163 points</span> by <a href="user?id=sohkamyung" class="hnuser">sohkamyung</a> <span class="age"><a href="item?id=26537967">13 hours ago</a></span> <span id="unv_26537967"></span> | <a href="hide?id=26537967&amp;goto=news">hide</a> | <a href="item?id=26537967">53&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26536884">
                                    <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26536884" href="vote?id=26536884&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.newyorker.com/culture/culture-desk/a-brief-history-of-the-hedge-fund" class="storylink">A Brief History of the Hedge Fund</a><span class="sitebit comhead"> (<a href="from?site=newyorker.com"><span class="sitestr">newyorker.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26536884">137 points</span> by <a href="user?id=fortran77" class="hnuser">fortran77</a> <span class="age"><a href="item?id=26536884">13 hours ago</a></span> <span id="unv_26536884"></span> | <a href="hide?id=26536884&amp;goto=news">hide</a> | <a href="item?id=26536884">69&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26532134">
                                    <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26532134" href="vote?id=26532134&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.nature.com/articles/s41467-021-21326-w" class="storylink">Unlocking history through automated virtual unfolding of sealed documents</a><span class="sitebit comhead"> (<a href="from?site=nature.com"><span class="sitestr">nature.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26532134">49 points</span> by <a href="user?id=benbreen" class="hnuser">benbreen</a> <span class="age"><a href="item?id=26532134">9 hours ago</a></span> <span id="unv_26532134"></span> | <a href="hide?id=26532134&amp;goto=news">hide</a> | <a href="item?id=26532134">8&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26553618">
                                    <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26553618" href="vote?id=26553618&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://www.xda-developers.com/google-confirms-webview-issue-crashing-android-apps/" class="storylink">Google confirms an issue with WebView is crashing many Android apps (Fixed)</a><span class="sitebit comhead"> (<a href="from?site=xda-developers.com"><span class="sitestr">xda-developers.com</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26553618">62 points</span> by <a href="user?id=neversaydie" class="hnuser">neversaydie</a> <span class="age"><a href="item?id=26553618">4 hours ago</a></span> <span id="unv_26553618"></span> | <a href="hide?id=26553618&amp;goto=news">hide</a> | <a href="item?id=26553618">32&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="athing" id="26545082">
                                    <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26545082" href="vote?id=26545082&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                    <td class="title"><a href="https://crystal-lang.org/2021/03/22/crystal-1.0-what-to-expect.html" class="storylink">Crystal 1.0 – What to expect</a><span class="sitebit comhead"> (<a href="from?site=crystal-lang.org"><span class="sitestr">crystal-lang.org</span></a>)</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26545082">686 points</span> by <a href="user?id=mfkp" class="hnuser">mfkp</a> <span class="age"><a href="item?id=26545082">21 hours ago</a></span> <span id="unv_26545082"></span> | <a href="hide?id=26545082&amp;goto=news">hide</a> | <a href="item?id=26545082">311&nbsp;comments</a>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                                <tr class="morespace" style="height:10px"></tr>
                                <tr><td colspan="2"></td><td class="title"><a href="news?p=2" class="morelink" rel="next">More</a></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class = "y">
                        <table width="100%" cellspacing="0" cellpadding="1"><tbody><tr><td bgcolor="#ff6600"></td></tr></tbody></table><br><center>
                            <span class="yclinks">
                                <a href="newsguidelines.html">Guidelines</a>
                                | <a href="newsfaq.html">FAQ</a>
                                | <a href="lists">Lists</a>
                                | <a href="https://github.com/HackerNews/API">API</a>
                                | <a href="security.html">Security</a>
                                | <a href="http://www.ycombinator.com/legal/">Legal</a>
                                | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                                | <a href="mailto:hn@ycombinator.com">Contact</a>
                            </span><br><br><form method="get" action="//hn.algolia.com/">
                                Search:
                                <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
                            </form>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>

    
<!--    
    <script type="text/javascript" src="hn.js?i2jJa1t672WDkJCHK5cZ"></script>
</body>
</html>
-->