/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
}

.h-100 {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}


.standar-table-mecanoviga {
  box-shadow: inherit !important;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.standar-table-mecanoviga thead tr {
  background: #edf1f7;
}

.standar-table-mecanoviga th button {
  text-align: center;
  width: 100%;
}

.standar-table-mecanoviga td button {
  text-align: center;
  width: 100%;
  margin: 0;
}

td.mat-cell, td.mat-footer-cell, .p10, th.mat-cell, th.mat-footer-cell {
 padding: 10px;
}

.standar-table-mecanoviga button .mat-ripple {
  display: none;
}

.standar-table-mecanoviga button mat-icon {
  text-align: center;
  font-size: 18px;
}

table {
  width: 100%;
}

.tabla-boton-init th.mat-header-cell:first-of-type,
.tabla-boton-init td.mat-cell:first-of-type,
.tabla-boton-init td.mat-footer-cell:first-of-type {
  padding: 3px;
}
 /*=========== CSS inputs ============== */

.input {
  margin: 0px 10px;
  flex: 1 1 auto;
  width: 90%;
  max-height: 55px !important;
  display: flex;
}

.input__mitad {
  margin: 0px 10px;
  flex: 1 1 auto;
  width: 40%;
  max-height: 55px !important;
  display: flex;
}

.columna {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button__actualizar {
  max-width: 50px;
  max-height: 55px !important;
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
    width: 100%;
  }

.mat-checkbox {
  margin: auto !important;
}

.auto100 {
  width: 100%;
}

/* ================================= */

tr.mat-row.row-highlighted {
  background: #eee;
}

.material-icons , mat-icon {
  cursor: pointer !important;
}

.noHayNadaEnTabla {
  font-size: large;
  color: red;
  text-align: center;
  margin: 20px;
}

input:disabled {
  color: #004f9f !important;
}

mat-label {
  color: #004f9f !important;
}

mat-checkbox {
  color: #004f9f !important;
}

/* Utils */

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}