
<mat-toolbar color="primary">

    
    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('')">Logo</button>
        
    </ng-template>


    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('')">HackerNews</button>
        
    </ng-template>



    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('/news')">New</button>
       
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('/threads')">Thread</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('/asks')">ask</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('/submit')">Submit</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="redirect('/account/marc.cortadellas@estudiantat.upc.edu')">Profile</button>
    </ng-template>
<!--
    <ng-template ngIf="true">
        <button *ngIf="usermail == '' " mat-button mat-menu-item (click)="login()">Login</button>
        <button *ngIf="usermail != '' " mat-button mat-menu-item (click)="login()">LogOut</button>
    </ng-template>
-->

</mat-toolbar>
