
<mat-toolbar color="primary">

    
    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="hazAlgo('LOGO')">Logo</button>
        
    </ng-template>


    <ng-template ngIf="true">
        <button mat-button mat-menu-item (click)="hazAlgo('HackerNews')">HackerNews</button>
        
    </ng-template>



    <ng-template ngIf="true">
        <button mat-button mat-menu-item [routerLink]="['/news']">New</button>
       
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item [routerLink]="['/threads']">Thread</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item [routerLink]="['/asks']">ask</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item [routerLink]="['/submit']">Submit</button>
    </ng-template>

    <ng-template ngIf="true">
        <button mat-button mat-menu-item [routerLink]="['/account']">{{usermail}}</button>
    </ng-template>

    <ng-template ngIf="true">
        <button *ngIf="usermail == '' " mat-button mat-menu-item (click)="login()">Login</button>
        <button *ngIf="usermail != '' " mat-button mat-menu-item (click)="login()">LogOut</button>
    </ng-template>


</mat-toolbar>